.BigButton {
     font: inherit;
     border: 1px solid blue;
     padding: 8px;
     margin: 10px;
}

.red:hover {
	background-color: red !important;
	color: white;
}

.green:hover {
	background-color: green !important;
	color: white;
}

.btn {
	cursor: pointer;
}